
.box{
  border-style:solid;
  border: 1px solid green;
  border-color:#669966;
  padding: 50px;
}

.bluebg { 
  background-color:#e6f0ff; 
  border-radius: 5px; 
  padding: 10px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #669966;
  }

.play {
  border-radius: 1px;
  border-color: #669966;
}

.play-table td { 
		vertical-align: middle; 
		padding: 5pt 5pt 5pt 5pt; 
		border: solid #cccccc 1pt; 
		font-size: 10pt; 
		font-family: Arial; 
	}

.reveal section p {
  color: green;
}

.videobuttons {
  display: inline-block;
  height:50px;
  margin: 0
}

.videobuttons-sm {
  display: inline-block;
  width: 80px;
  height:40px;
  margin: 0
}

a {
  color: #669966;
}


h5 {
  font-weight:bold;
}


indent {
  padding-left:2em;
}

p, td {
  font-size: 110%;
}

p-small {
  font-size: 100%;
  line-height: 150%;
}

pre {
    word-break: keep-all; 
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

say {
  font-size: 90%;
  font-style: italic;
  color:#4a86e8;
  quotes: "“" "”" "‘" "’";
}
say:before { content: open-quote; }
say:after  { content: close-quote; }

say-es {
  font-size: 90%;
  font-style: italic;
  color:#ff7f40;
  quotes: "“" "”" "‘" "’";
}
say-es:before { content: open-quote; }
say-es:after  { content: close-quote; }

th {
  font-size: 110%;
}

