p, td {
  font-size: 110%;
}

a {
  color: #669966;
}

th {
  font-size: 110%;
}

h5 {
  font-weight:bold;
}

say {
  font-size: 90%;
  font-style: italic;
  color:#669966;
  quotes: "“" "”" "‘" "’";
}
say:before { content: open-quote; }
say:after  { content: close-quote; }


.videobuttons {
  display: inline-block;
  width: 100px;
  height:50px;
  margin: 1em;
}

.reveal section p {
  color: green;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #669966;
  
}

